name: Metrics
on:
  # Schedule updates
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  push: {branches: ["master", "main"]}
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          config_padding: 8%, 10%
          plugin_languages: yes
          plugin_languages_threshold: 5
          plugin_followup: yes
          plugin_lines: yes
          plugin_traffic: yes
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14  
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_stars: yes
          plugin_stars_limit: 4  
          plugin_stargazers: yes
          plugin_isocalendar: yes  
          plugin_isocalendar_duration: full-year  
          plugin_activity: yes
          plugin_activity_limit: 10
          plugin_activity_days: 0
          plugin_activity_filter: all  
          plugin_people: yes
          plugin_people_types: followers, sponsoring 
          plugin_people_limit: 28
          plugin_people_size: 28
          plugin_people_identicons: no
          plugin_music: yes
          plugin_music_provider: spotify
          plugin_music_mode: recent
          plugin_music_limit: 4
          plugin_music_token: "${{ secrets.SPOTIFY_CLIENT_ID }}, ${{ secrets.SPOTIFY_CLIENT_SECRET }}, ${{ secrets.SPOTIFY_REFRESH_TOKEN }}"
          plugin_music_played_at: yes
          plugin_wakatime: yes          
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_days: 7 
          plugin_wakatime_limit: 4
